@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Fira Sans;
  font-size: 2rem;
}

:root {
  --branco: #fff;
  --cinza-1: #e7e7e7;
  --cinza-2: #757780;
  --cinza-3: #141414;
  --vermelho: #f15946;
}

.conteudo {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
