.conteudo__titulo {
  text-align: center;
  text-transform: uppercase;
  color: #141414;
  padding: 40px;
  line-height: 1;
}

.informacoes {
  font-size: 1.5rem;
  padding: 40px;
  background-color: #e7e7e7;
  border-radius: 4px;
  margin-bottom: 40px;
}

.informacoes h3 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #fff;
  background-color: #757780;
  padding: 10px;
  border-radius: 4px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.formulario div {
  display: flex;
  flex-wrap: wrap;
}

.formulario label {
  color: #141414;
  width: 100%;
}

.formulario .campo {
  padding: 20px;
  background-color: #fff;
  border: none;
  font-size: 1.125rem;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.documento__span {
  font-size: 1rem;
}

.formulario .campo:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.formulario .campo .botaoSalvar {
  text-align: end;
}

.botaoSalvar .alerta {
  font-size: 1rem;
  color: #f15946;
  margin-bottom: 20px;
}

.botaoSalvar .botao {
  padding: 15px 45px;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: #f15946;
  color: #fff;
}

.mensagemErro {
  display: block;
  font-size: 1rem;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .informacoes__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .formulario {
    grid-template-columns: 1fr;
  }
}
